body {
	background: transparent;
}
p {
	background: white;
	color: black;
	font-size: 50px;
	padding: 20px;
	text-align: center;
	text-wrap: balance;
	font-weight: 900;
}
.selected {
	background: blue;
	padding-inline: 5px;
	border-radius: 10px;
	color: white;
	display: inline-block;
	height: fit-content;
}
